/* Import source files */
/* Import utilities */
@import url('/css/utilities/colors.min.css');
@import url('/css/utilities/typography.min.css');
@import url('/css/utilities/variables.min.css');

/* Import components */
@import url('/css/components/badges.css');
@import url('/css/components/buttons.min.css');
@import url('/css/components/progress.css');
@import url('/css/components/toasts.min.css');

* {
    margin: 0;
    padding: 0;
}

a { text-decoration: none;}

#scrollbar {
    width: 500px;
    height: 500px;
    overflow: auto;
}