<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Import example style -->
        <link rel="stylesheet" href="/examamples/example_style.min.css">

        <!-- Import neptune ui -->
        <link rel="stylesheet" href="/neptune.css">

        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
        <title>Links | Neptune examples</title>
    </head>
    <body>
        <h1 class="main-headline">Links</h1>
        <h2 class="secondary-headline">Link sizes</h2>
        <div class="example-box">
            <h3 class="example-title">Link S</h3>
            <a class="link text-s" title="Link S" href="#">Link S</a>
        </div>
        <div class="example-box">
            <h3 class="example-title">Link M</h3>
            <a class="link text-m" href="#" title="Link M">Link M</a>
        </div>
        <div class="example-box">
            <h3 class="example-title">Link L</h3>
            <a class="link text-l" href="#" title="Link L">Link L</a>
        </div>

        <h2 class="secondary-headline">Link styles</h2>
        <div class="example-box">
            <h3 class="example-title">Default style</h3>
            <a class="link link-l" href="#" title="Link default">Default</a>
        </div>
        <div class="example-box">
            <h3 class="example-title">Link accent</h3>
            <a class="link link-l link-accent" href="#" title="Link accent">Accent</a>
        </div>
        <div class="example-box">
            <h3 class="example-title">Link information</h3>
            <a class="link link-l link-info" href="#" title="Link information">information</a>
        </div>
        <div class="example-box">
            <h3 class="example-title">Link succes</h3>
            <a class="link link-l link-success" href="#" title="Link success">success</a>
        </div>
        <div class="example-box">
            <h3 class="example-title">Link warning</h3>
            <a class="link link-l link-warning" href="#" title="Link warning">Warning</a>
        </div>
        <div class="example-box">
            <h3 class="example-title">Link error</h3>
            <a class="link link-l link-error" href="#" title="Link error">Error</a>
        </div>
    </body>
</html>