<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Import example style -->
        <link rel="stylesheet" href="/examamples/example_style.min.css">

        <!-- Import neptune ui -->
        <link rel="stylesheet" href="/neptune.css">

        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
        <title>Spinner | Neptune examples</title>
    </head>
    <body>
        <h1 class="main-headline">Spinner</h1>
        <h2 class="secondary-headline">Spinner styles</h2>
        <div class="example-box">
            <h3 class="example-title">Spinner Primary</h3>
            <div class="spinner spinner-primary spin-linear">
                <div class="spinner-inner"></div>
                <div class="spinner-hole"></div>
            </div>
        </div>
        <div class="example-box">
            <h3 class="example-title">Spinner accent</h3>
            <div class="spinner spinner-accent spin-linear">
                <div class="spinner-inner"></div>
                <div class="spinner-hole"></div>
            </div>
        </div>
        <div class="example-box">
            <h3 class="example-title">Spinner info</h3>
            <div class="spinner spinner-info spin-linear">
                <div class="spinner-inner"></div>
                <div class="spinner-hole"></div>
            </div>
        </div>
        <div class="example-box">
            <h3 class="example-title">Spinner success</h3>
            <div class="spinner spinner-success spin-linear">
                <div class="spinner-inner"></div>
                <div class="spinner-hole"></div>
            </div>
        </div>
        <div class="example-box">
            <h3 class="example-title">Spinner warning</h3>
            <div class="spinner spinner-warning spin-linear">
                <div class="spinner-inner"></div>
                <div class="spinner-hole"></div>
            </div>
        </div>
        <div class="example-box">
            <h3 class="example-title">Spinner error</h3>
            <div class="spinner spinner-error spin-linear">
                <div class="spinner-inner"></div>
                <div class="spinner-hole"></div>
            </div>
        </div>

        <h2 class="secondar-headline">Spinner animations</h2>
        <div class="example-box">
            <h3 class="example-title">Spin linear</h3>
            <div class="spinner spin-linear">
                <div class="spinner-inner"></div>
                <div class="spinner-hole"></div>
            </div>
        </div>
        <div class="example-box">
            <h3 class="example-title">Spin eased</h3>
            <div class="spinner spin-eased">
                <div class="spinner-inner"></div>
                <div class="spinner-hole"></div>
            </div>
        </div>
    </body>
</html>