<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

        <!-- Import example style -->
        <link rel="stylesheet" href="/examamples/example_style.min.css">

        <!-- Import neptune ui -->
        <link rel="stylesheet" href="/neptune.css">

        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
        <title>Toasts | Neptune examples</title>
    </head>
    <body>
        <div class="example-box">
            <h3 class="example-title">Default toast</h3>
            <div class="toast">
                <span class="toast-icon">
                    <i class="bi bi-bell-fill"></i>
                </span>
                <p class="toast-text text-l">
                    Default toast
                </p>
            </div>
        </div>

        <div class="example-box">
            <h3 class="example-title">Primary toast</h3>
            <div class="toast toast-primary">
                <span class="toast-icon">
                    <i class="bi bi-chat-left-fill"></i>
                </span>
                <p class="toast-text text-l">
                    Primary toast
                </p>
            </div>
        </div>

        <div class="example-box">
            <h3 class="example-title">Accent toast</h3>
            <div class="toast toast-accent">
                <span class="toast-icon">
                    <i class="bi bi-chat-left-fill"></i>
                </span>
                <p class="toast-text text-l">
                    Accent toast
                </p>
            </div>
        </div>

        <div class="example-box">
            <h3 class="example-title">Information toast</h3>
            <div class="toast toast-info">
                <span class="toast-icon">
                    <i class="bi bi-info-circle-fill"></i>
                </span>
                <p class="toast-text text-l">
                    Information toast
                </p>
            </div>
        </div>

        <div class="example-box">
            <h3 class="example-title">Success toast</h3>
            <div class="toast toast-success">
                <span class="toast-icon">
                    <i class="bi bi-check-circle-fill"></i>
                </span>
                <p class="toast-text text-l">
                    Success toast
                </p>
            </div>
        </div>

        <div class="example-box">
            <h3 class="example-title">Warning toast</h3>
            <div class="toast toast-warning">
                <span class="toast-icon">
                    <i class="bi bi-exclamation-triangle-fill"></i>
                </span>
                <p class="toast-text text-l">
                    Warning toast
                </p>
            </div>
        </div>

        <div class="example-box">
            <h3 class="example-title">Error toast</h3>
            <div class="toast toast-error">
                <span class="toast-icon">
                    <i class="bi bi-exclamation-circle-fill"></i>
                </span>
                <p class="toast-text text-l">
                    Error toast
                </p>
            </div>
        </div>
    </body>
</html>