<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Import example style -->
        <link rel="stylesheet" href="/examamples/example_style.min.css">

        <!-- Import neptune ui -->
        <link rel="stylesheet" href="/neptune.css">

        <style>
            .progress-bar { width: 40% !important;}
        </style>

        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
        <title>Progress bar | Neptune examples</title>
    </head>
    <body>
        <h1 class="main-headline">Progress bar</h2>

        <h2 class="secondary-headline">Colors</h2>
        <div class="example-box">
            <h3 class="example-title">Default bar</h3>
            <div class="progress progress-m">
                <div class="progress-bar"></div>
            </div>
        </div>

        <div class="example-box">
            <h3 class="example-title">Primary bar</h3>
            <div class="progress progress-primary progress-m">
                <div class="progress-bar"></div>
            </div>
        </div>

        <div class="example-box">
            <h3 class="example-title">Accent bar</h3>
            <div class="progress progress-accent progress-m">
                <div class="progress-bar"></div>
            </div>
        </div>

        <div class="example-box">
            <h3 class="example-title">Information bar</h3>
            <div class="progress progress-info progress-m">
                <div class="progress-bar"></div>
            </div>
        </div>

        <div class="example-box">
            <h3 class="example-title">Success bar</h3>
            <div class="progress progress-success progress-m">
                <div class="progress-bar"></div>
            </div>
        </div>

        <div class="example-box">
            <h3 class="example-title">Warning bar</h3>
            <div class="progress progress-warning progress-m">
                <div class="progress-bar"></div>
            </div>
        </div>

        <div class="example-box">
            <h3 class="example-title">Error bar</h3>
            <div class="progress progress-error progress-m">
                <div class="progress-bar"></div>
            </div>
        </div>

        <h2 class="secondary-headline">Sizes</h2>
        <div class="example-box">
            <h3 class="example-title">Progress bar XS</h3>
            <div class="progress progress-xs">
                <div class="progress-bar"></div>
            </div>
        </div>

        <div class="example-box">
            <h3 class="example-title">Progress bar S</h3>
            <div class="progress progress-s">
                <div class="progress-bar"></div>
            </div>
        </div>

        <div class="example-box">
            <h3 class="example-title">Progress bar M</h3>
            <div class="progress progress-m">
                <div class="progress-bar"></div>
            </div>
        </div>

        <div class="example-box">
            <h3 class="example-title">Progress bar L</h3>
            <div class="progress progress-l">
                <div class="progress-bar"></div>
            </div>
        </div>

        <div class="example-box">
            <h3 class="example-title">Progress bar L</h3>
            <div class="progress progress-xl">
                <div class="progress-bar"></div>
            </div>
        </div>
    </body>
</html>