<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Import example style -->
        <link rel="stylesheet" href="/examamples/example_style.min.css">

        <!-- Import neptune ui -->
        <link rel="stylesheet" href="/neptune.css">

        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
        <title>Badges | Neptune examples</title>
    </head>
    <body>
        <h1 class="main-headline">Badges</h1>

        <div class="example-box">
            <h3 class="example-title">Default badges</h3>
            <span class="badge badge-s">Default S</span>
            <span class="badge badge-m">Default M</span>
            <span class="badge badge-l">Default L</span>
        </div>

        <div class="example-box">
            <h3 class="example-title">Primary badges</h3>
            <span class="badge badge-primary badge-s">Primary S</span>
            <span class="badge badge-primary badge-m">Primary M</span>
            <span class="badge badge-primary badge-l">Primary L</span>
        </div>

        <div class="example-box">
            <h3 class="example-title">Accent badges</h3>
            <span class="badge badge-accent badge-s">Accent S</span>
            <span class="badge badge-accent badge-m">Accent M</span>
            <span class="badge badge-accent badge-l">Accent L</span>
        </div>

        <div class="example-box">
            <h3 class="example-title">Information badges</h3>
            <span class="badge badge-info badge-s">Information S</span>
            <span class="badge badge-info badge-m">Information M</span>
            <span class="badge badge-info badge-l">Information L</span>
        </div>

        <div class="example-box">
            <h3 class="example-title">Success badges</h3>
            <span class="badge badge-success badge-s">Sucess S</span>
            <span class="badge badge-success badge-m">Sucess M</span>
            <span class="badge badge-success badge-l">Sucess L</span>
        </div>

        <div class="example-box">
            <h3 class="example-title">Warning badges</h3>
            <span class="badge badge-warning badge-s">Warning S</span>
            <span class="badge badge-warning badge-m">Warning M</span>
            <span class="badge badge-warning badge-l">Warning L</span>
        </div>

        <div class="example-box">
            <h3 class="example-title">Error badges</h3>
            <span class="badge badge-error badge-s">Error S</span>
            <span class="badge badge-error badge-m">Error M</span>
            <span class="badge badge-error badge-l">Error L</span>
        </div>

        <!-- Init scrollbar -->
        <script src="/node_modules/smooth-scrollbar/dist/smooth-scrollbar.js"></script>
        <div id="scrollbar2"></div>
        <script>Scrollbar.initAll();</script>
        <!-- Init scrollbar -->
    </body>
</html>