/* Import header */
@import url('./header.css');

/* Import sidebar */
@import url('./sidebar.css');

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e7e7;
}

.main-content {
    position: relative;
    top: 1rem;
    margin-top: 1.5rem;
    width: 100%;
    max-width: 1000px;
    min-height: calc(100vh - 5rem);
    z-index: 2;
}

.main-content .doc-view {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 18rem);
    height: auto;
    min-height: 100%;
    border-radius: var(--rounded-m);
    background-color: var(--background-light);
}

.doc-view > .view-headline {
    position: relative;
    margin-top: 0rem;
    margin-left: 2rem;
}

.doc-view > .example {
    position: relative;
    max-width: calc(100% - 4rem);
    min-height: 35rem;
    margin-top: 2rem;
    margin-left: 2rem;
    border-radius: var(--rounded-l);
}

#variable-view { display: none;}
#color-view { display: none;}
#typography-view { display: none;}
#badge-view { display: block;}
#button-view { display: block;}
#toast-view { display: none;}