<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Import example style -->
        <link rel="stylesheet" href="/examamples/example_style.min.css">

        <!-- Import neptune ui -->
        <link rel="stylesheet" href="/neptune.css">

        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
        <title>Buttons | Neptune examples</title>
    </head>
    <body id="body" data-scrollbar>
        <div class="example-box">
            <h3 class="example-title">Default button</h3>
            <button class="button button-l">Default L</button>
            <button class="button button-m">Default M</button>
            <button class="button button-s">Default S</button>
        </div>

        <div class="example-box">
            <h3 class="example-title">Primary button</h3>
            <button class="button-primary button-l">Primary L</button>
            <button class="button-primary button-m">Primary M</button>
            <button class="button-primary button-s">Primary S</button>
        </div>

        <div class="example-box">
            <h3 class="example-title">Secondary button</h3>
            <button class="button-secondary button-l">Secondary L</button>
            <button class="button-secondary button-m">Secondary M</button>
            <button class="button-secondary button-s">Secondary S</button>
        </div>

        <div class="example-box">
            <h3 class="example-title">CTA button</h3>
            <button class="button-cta button-l">CTA L</button>
            <button class="button-cta button-m">CTA M</button>
            <button class="button-cta button-s">CTA S</button>
        </div>

        <div class="example-box">
            <h3 class="example-title">Information button</h3>
            <button class="button-info button-l">Info L</button>
            <button class="button-info button-m">Info M</button>
            <button class="button-info button-s">Info S</button>
        </div>

        <div class="example-box">
            <h3 class="example-title">Success button</h3>
            <button class="button-success button-l">Success L</button>
            <button class="button-success button-m">Success M</button>
            <button class="button-success button-s">Success S</button>
        </div>

        <div class="example-box">
            <h3 class="example-title">Warning button</h3>
            <button class="button-warning button-l">Warning L</button>
            <button class="button-warning button-m">Warning M</button>
            <button class="button-warning button-s">Warning S</button>
        </div>

        <div class="example-box">
            <h3 class="example-title">Error button</h3>
            <button class="button-error button-l">Error L</button>
            <button class="button-error button-m">Error M</button>
            <button class="button-error button-s">Error S</button>
        </div>

        <!-- Init scrollbar -->
        <script src="/node_modules/smooth-scrollbar/dist/smooth-scrollbar.js"></script>
        <div id="scrollbar"></div>
        <script>Scrollbar.initAll();</script>
        <!-- Init scrollbar -->
    </body>
</html>